<form action="/create" method="POST">
  <div>
    <label>Location</label>
    <input name="location" type="radio" value="chiller" /> Chiller
    <input name="location" type="radio" value="freezer" /> Freezer
    <input name="location" type="radio" value="pantry" /> Pantry
    <input name="location" type="radio" value="sauces" /> Sauces
  </div>
    <div>
      <input name="name" type="text" placeholder="Name" />
    </div>
    <div>
      <input name="quantity" type="text" placeholder="Quantity" />
    </div>
    <button type="submit">Submit</button>
</form>